# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.venv/
venv/
.env
.env.*
!.env.example

# Django
/staticfiles/
/media/
logs/*.log
logs/*

# OS files
.DS_Store
Thumbs.db
